<html>
  <head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>
    {{>header}}

    <div>This js help page</div>
    
    {{>footer}}
  </body>
</html>